#canvas {
  padding-left: 0px;
  margin-left: 0px;
  border-radius: 7px;
  background-color: black;
  width: 100%;
}

.items {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

ul {
  margin-left: 0px;
  padding-left: 0px;
}
