.top {
  display: flex;
  font-family: "Unica One", cursive;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.left {
  width: 50%;
  margin-left: 10px;
}

.right {
  width: 30%;
  margin-right: 10px;
}

.chat {
  background-color: white;
  border-radius: 7px;
  padding: 2px 20px 2px 20px;
}

.title {
  padding: 0px 10px;
  width: fit-content;
  border-radius: 3px;
  margin: auto;
  text-align: center;
  background-color: white;
}

#canvas {
  padding-left: 0px;
  margin-left: 0px;
  border-radius: 7px;
  background-color: black;
  width: 100%;
}

.items {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

ul {
  margin-left: 0px;
  padding-left: 0px;
}
