@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@font-face {
  font-family: "Warwick";
  src: url(WW.ttf);
}

html,
body {
  background-color: #cfd6c9;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Warwick";
  margin: 0;
  font-size: 40px;
}

.title {
  padding: 0px 30px;
  width: fit-content;
  border-radius: 3px;
  margin: auto;
  text-align: center;
  background-color: white;
}

nav {
  display: flex;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;

  a {
    color: #333;
  }
  ul {
    list-style-type: none;
    margin: auto 15px 0;
    padding: 0;
    li {
      float: left;
      a {
        font-size: 18px;
        text-decoration: none;
      }
    }
  }
  a,
  div {
    padding: 15px;
  }
  a.router-link-active {
    background-color: #a9a9a9;
    color: #efefef;
  }
  a.home {
    background-color: #ff3b3f;
  }
  div {
    display: contents;
  }
  p {
    margin: 0;
  }
}
.authform {
  width: 50%;
  margin: 100px auto;
  background-color: white;
  padding: 10px 20px;
  border-radius: 13px;
  -webkit-box-shadow: 14px 15px 0px -3px#394140;
  -moz-box-shadow: 14px 15px 0px -3px#394140;
  box-shadow: 10px 10px 0px -3px rgba(33, 33, 33, 0.3);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
}
form {
  input {
    margin-top: 20px;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    border-bottom: 2px #333 solid;
    padding-left: 10px;
    color: #333;
  }
  button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    background-color: blue;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    height: 40px;
    width: 80px;
    margin: 10px;
    &:hover {
      color: #000000;
      background-color: #ffffff;
    }
  }
}

/* HEX */
$color1: #2e86abff;
$color2: #a23b72ff;
$color3: #f18f01ff;
$color4: #c73e1dff;
$color5: #3b1f2bff;

/* HSL */
$color1: hsla(198, 73%, 67%, 1);
$color2: hsla(328, 64%, 64%, 1);
$color3: hsla(36, 100%, 95%, 1);
$color4: hsla(12, 85%, 78%, 1);
$color5: hsla(334, 47%, 23%, 1);

/* RGB */
$color1: rgba(46, 134, 171, 1);
$color2: rgba(162, 59, 114, 1);
$color3: rgba(241, 143, 1, 1);
$color4: rgba(199, 62, 29, 1);
$color5: rgba(59, 31, 43, 1);

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #2e86abff, #a23b72ff, #f18f01ff, #c73e1dff, #3b1f2bff);
$gradient-right: linear-gradient(90deg, #2e86abff, #a23b72ff, #f18f01ff, #c73e1dff, #3b1f2bff);
$gradient-bottom: linear-gradient(180deg, #2e86abff, #a23b72ff, #f18f01ff, #c73e1dff, #3b1f2bff);
$gradient-left: linear-gradient(270deg, #2e86abff, #a23b72ff, #f18f01ff, #c73e1dff, #3b1f2bff);
$gradient-top-right: linear-gradient(45deg, #2e86abff, #a23b72ff, #f18f01ff, #c73e1dff, #3b1f2bff);
$gradient-bottom-right: linear-gradient(135deg, #2e86abff, #a23b72ff, #f18f01ff, #c73e1dff, #3b1f2bff);
$gradient-top-left: linear-gradient(225deg, #2e86abff, #a23b72ff, #f18f01ff, #c73e1dff, #3b1f2bff);
$gradient-bottom-left: linear-gradient(315deg, #2e86abff, #a23b72ff, #f18f01ff, #c73e1dff, #3b1f2bff);
$gradient-radial: radial-gradient(#2e86abff, #a23b72ff, #f18f01ff, #c73e1dff, #3b1f2bff);

/* HEX */
$color1: #ffe74cff;
$color2: #ff5964ff;
$color3: #ffffffff;
$color4: #38618cff;
$color5: #35a7ffff;

/* HSL */
$color1: hsla(52, 70%, 100%, 1);
$color2: hsla(356, 65%, 100%, 1);
$color3: hsla(0, 0%, 100%, 1);
$color4: hsla(211, 60%, 55%, 1);
$color5: hsla(206, 79%, 100%, 1);

/* RGB */
$color1: rgba(255, 231, 76, 1);
$color2: rgba(255, 89, 100, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(56, 97, 140, 1);
$color5: rgba(53, 167, 255, 1);

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #ffe74cff, #ff5964ff, #ffffffff, #38618cff, #35a7ffff);
$gradient-right: linear-gradient(90deg, #ffe74cff, #ff5964ff, #ffffffff, #38618cff, #35a7ffff);
$gradient-bottom: linear-gradient(180deg, #ffe74cff, #ff5964ff, #ffffffff, #38618cff, #35a7ffff);
$gradient-left: linear-gradient(270deg, #ffe74cff, #ff5964ff, #ffffffff, #38618cff, #35a7ffff);
$gradient-top-right: linear-gradient(45deg, #ffe74cff, #ff5964ff, #ffffffff, #38618cff, #35a7ffff);
$gradient-bottom-right: linear-gradient(135deg, #ffe74cff, #ff5964ff, #ffffffff, #38618cff, #35a7ffff);
$gradient-top-left: linear-gradient(225deg, #ffe74cff, #ff5964ff, #ffffffff, #38618cff, #35a7ffff);
$gradient-bottom-left: linear-gradient(315deg, #ffe74cff, #ff5964ff, #ffffffff, #38618cff, #35a7ffff);
$gradient-radial: radial-gradient(#ffe74cff, #ff5964ff, #ffffffff, #38618cff, #35a7ffff);

/* HEX */
$color1: #002642ff;
$color2: #840032ff;
$color3: #e59500ff;
$color4: #e5dadaff;
$color5: #02040fff;

/* HSL */
$color1: hsla(205, 100%, 26%, 1);
$color2: hsla(337, 100%, 52%, 1);
$color3: hsla(39, 100%, 90%, 1);
$color4: hsla(0, 5%, 90%, 1);
$color5: hsla(231, 87%, 6%, 1);

/* RGB */
$color1: rgba(0, 38, 66, 1);
$color2: rgba(132, 0, 50, 1);
$color3: rgba(229, 149, 0, 1);
$color4: rgba(229, 218, 218, 1);
$color5: rgba(2, 4, 15, 1);

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #002642ff, #840032ff, #e59500ff, #e5dadaff, #02040fff);
$gradient-right: linear-gradient(90deg, #002642ff, #840032ff, #e59500ff, #e5dadaff, #02040fff);
$gradient-bottom: linear-gradient(180deg, #002642ff, #840032ff, #e59500ff, #e5dadaff, #02040fff);
$gradient-left: linear-gradient(270deg, #002642ff, #840032ff, #e59500ff, #e5dadaff, #02040fff);
$gradient-top-right: linear-gradient(45deg, #002642ff, #840032ff, #e59500ff, #e5dadaff, #02040fff);
$gradient-bottom-right: linear-gradient(135deg, #002642ff, #840032ff, #e59500ff, #e5dadaff, #02040fff);
$gradient-top-left: linear-gradient(225deg, #002642ff, #840032ff, #e59500ff, #e5dadaff, #02040fff);
$gradient-bottom-left: linear-gradient(315deg, #002642ff, #840032ff, #e59500ff, #e5dadaff, #02040fff);
$gradient-radial: radial-gradient(#002642ff, #840032ff, #e59500ff, #e5dadaff, #02040fff);
