html,
body {
  background-color: #cfd6c9;
  font-family: "Unica One", cursive;
}

.title {
  padding: 0px 30px;
  width: fit-content;
  border-radius: 3px;
  margin: auto;
  text-align: center;
  background-color: white;
}
